.abc {
    background-color: rgb(92, 206, 92);
    padding: 40px;
    border: solid;
    border-color: red;
    height: 600px;
    width: 800px;
    margin: 10px;
}

.a {
    float: left;
    background-color: aqua;
    height: 50px;
    width: 100px;
    padding: 30px;
    font-size: 20px;

}